<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">Welcome to the Investry</h1>
        <h4 class="text-white-50 mx-auto mt-2 mb-5">A web app to track all of your stocks.</h4>
        <br>
        <%= link_to 'Get Started', my_portfolio_path, class: "btn btn-primary js-scroll-trigger" %>
      </div>
    </div>
  </header>
